<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    {% for features in featureloop %}
    <h1>How are u today? {{features.name}}</h1>
    <h3>{{features.details}}</h3>
    {% if feature.name == 'quick' %}
    <p>This feature says quick</p>
    {% endif %}

    {% endfor %}

    <form method="POST" action="counter">
        {% csrf_token %}
        <textarea name="text" id="" cols="30" rows="10"></textarea>
        <input type="submit" />
    </form>

    {% if user.is_authenticated %}
    <h3>Welcome bro</h3>
    {% else %}
    <h3>Sorry not login</h3>

    {% endif %}

    {% if user.is_authenticated %}
    <a href="logout">Logout</a>
    {% else %}
    <a href="login">Wanna Login?</a>

    {% endif %}



</body>
</html>